/* Variables CSS */
:root {
    --primary-color: #2c3e50;
    --secondary-color: #f26f6a;
    --tertiary-color: #DE8F1D;
    --text-color: #333;
    --text-color-2: #f26f6a ;
    --light-gray: #ecf0f1;
    --white: #fff;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --gap-sm: 0.5rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
    --border-radius: 0.25rem;
}

/* Estilos base */
body {
    font-family: 'montserrat', sans-serif;
    color: var(--text-color);
    padding: var(--padding-lg);
    background-color: var(--light-gray);
    background-color: #20232c;
}
.h1{color: var(--text-color-2);}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-lg);
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(235, 132, 132, 0.664);
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-content {
    padding: var(--padding-md);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-title {
 
    margin: 0 0 var(--gap-sm) 0;
    color: var(--text-color-2);
    font-size: 1.25rem;
}

.product-description {
    margin: 0 0 var(--gap-md) 0;
    flex-grow: 1;
    font-size: 0.9rem;
    line-height: 1.4;
}

.buy-button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.buy-button:hover {
    background-color: var(--tertiary-color);
}